{% extends 'base.html' %} 
{% block body %}      
    <div class="stat place-items-center stats badge-ghost " style=" margin-top: 40px;">
        <div class="stats stats-vertical lg:stats-horizontal shadow">
            <div class="stat place-items-center">
              <div class="stat-title">Total Rooms</div>
              <div class="stat-value">20</div>
            </div>
            <div class="stat place-items-center">
              <div class="stat-title">Available Rooms</div>
              <div class="stat-value">8</div>
            </div>
            <div class="stat place-items-center">
                <div class="stat-title">Reserved Rooms</div>
                <div class="stat-value">12</div>
              </div>
              <div class="stat place-items-center">
                <div class="stat-title">Total Occupants</div>
                <div class="stat-value">50</div>
              </div>
          </div>
    </div>
{% endblock body %}
