{% extends 'base.html' %} 
{% block body %}
    <div class="hero min-h-screen" style="background-image: url(https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
      <div class="hero-overlay bg-opacity-30"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold"style="color: whitesmoke;" >Welcome to our </h1>
          <h1 class="mb-5 text-4xl font-bold" style="white-space:nowrap; color: whitesmoke;">Hotel Room Management</h1>
          <h1 class="mb-5 text-4xl font-bold"style="color: whitesmoke;">Website!</h1>
          <p class="py-6" style="color: whitesmoke;">A Hotel Management System is a application that helps hotels manage their day-to-day operations,
             such as room reservations, guest check-ins and check-outs and billing. 
             This project created using HTML, CSS, Flask, DaisyUI and MySQL
              for a user-friendly interface for managing hotel data and transactions.</style></p>
          <button class="btn glass  hover:bg-gradient-to-bl " h><a href="/roombook">Get Started</a></li></button>
        </div>
      </div>
    </div>

{% endblock body %}
    

