{% extends 'base.html' %} {% block body %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Room Booking</h1>
        <!-- <p class="py-6"></p> -->
        <form action="/roombook" method="POST" enctype="multipart/form-data">
          <div
            class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100"
            style="margin-top: 20px"
          >
            <div class="card-body">
              <div class="form-control">
                <div style="display: flex">
                  <div class="form-control w-full max-w-xs">
                    <input
                      type="text"
                      placeholder="First Name"
                      name="first_name"
                      id="first_name"
                      class="input input-bordered w-full max-w-xs"
                      style="margin-right: 20px"
                    />
                  </div>
                  <div class="form-control w-full max-w-xs">
                    <input
                      type="text"
                      placeholder="Last Name"
                      name="last_name"
                      id="last_name"
                      class="input input-bordered w-full max-w-xs"
                      style="margin-left: 20px"
                    />
                  </div>
                </div>
                <div style="display: flex; margin-top: 20px">
                  <div class="form-control w-full max-w-xs">
                    <input
                      type="text"
                      placeholder="Contact Number"
                      name="contact_number"
                      id="contact_number"
                      class="input input-bordered w-full max-w-xs"
                    />
                  </div>
                  <div class="form-control w-full max-w-xs">
                    <input
                      type="text"
                      placeholder="Address"
                      name="address"
                      id="address"
                      class="input input-bordered w-full max-w-xs"
                      style="margin-left: 20px"
                    />
                  </div>
                </div>
                <div
                  class="form-control w-full max-w-xs"
                  style="display: flex; margin-top: 10px"
                >
                  <label class="label">
                    <span class="label-text">Check-in</span>
                  </label>
                  <input
                    type="date"
                    name="check_in_date"
                    id="check_in_date"
                    placeholder="Check-in"
                    class="input input-bordered w-full max-w-xs"
                  />
                  <label class="label" style="display: flex; margin-top: 10px">
                    <span class="label-text">Check-out</span>
                  </label>
                  <input
                    type="date"
                    name="check_out_date"
                    id="check_out_date"
                    placeholder="Check-out"
                    class="input input-bordered w-full max-w-xs"
                  />
                </div>
                <div class="form-control w-full max-w-xs">
                  <div style="display: flex; margin-top: 20px">
                    <select
                      class="select select-bordered"
                      name="room_type"
                      id="room_type"
                    >
                      <option disabled selected>Room Type</option>
                      <option>Single Bed</option>
                      <option>Double Bed</option>
                      <option>Three Bed</option>
                      <option>Four Bed</option>
                    </select>
                    <div
                      class="form-control w-full max-w-xs"
                      style="
                        display: flex;
                        margin-left: 20px;
                        margin-bottom: 20px;
                      "
                    >
                      <select
                        class="select select-bordered"
                        name="num_of_people"
                        id="num_of_people"
                      >
                        <option disabled selected>No. of People</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </div>

                  <div
                    class="form-control w-full max-w-xs"
                    style="display: flex; margin-left: 0px; margin-bottom: 20px"
                  >
                    <input
                      type="text"
                      placeholder="Room Number"
                      name="room_number"
                      id="room_number"
                      class="input input-bordered w-full max-w-xs"
                    />
                  </div>
                  <div style="display: flex; margin-left: 0px">
                    <select
                      class="select select-bordered"
                      name="wifi"
                      id="wifi"
                    >
                      <option disabled selected>WIFI</option>
                      <option>Yes</option>
                      <option>No</option>
                    </select>
                    <div style="display: flex; margin-left: 10px">
                      <select class="select select-bordered" name="ac" id="ac">
                        <option disabled selected>A/C</option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                      <div style="display: flex; margin-left: 10px">
                        <select
                          class="select select-bordered"
                          name="payment"
                          id="payment"
                        >
                          <option disabled selected>Payment</option>
                          <option>Card</option>
                          <option>Cash</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <button
                  type="submit"
                  class="btn glass active:btn-primary"
                  onclick="my_modal_2.showModal()"
                  style="margin-top: 20px"
                >
                  Reserve
                </button>
                <dialog id="my_modal_2" class="modal">
                  <div class="modal-box">
                    <h3 class="font-bold text-lg">Reserved</h3>
                    <p class="py-4">Room Reserved Successfully</p>
                  </div>
                  <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                  </form>
                </dialog>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
